h2 {
    text-decoration: underline;
    font-family: 'lobster two';
}

h1 {
    text-align: center;
    font-family: 'lobster two';
}

p {
   
}

main { 
      text-align: center;

}

img { text-align: center;

}

header {
            
            padding-top: 25px; 
            padding-bottom: 25px;
 }

header a {
              color:white;
              text-decoration:none;
}

header li {
                liste-style:none;
                display:inline-block;
                width:33%;
                texte-align:center;
                font-family: 'lobster two';
                background-color: #424242
}
