h2 {
    text-decoration: underline;
    font-family: 'lobster two';
}

h1 {
    text-align: center;
    font-family: 'lobster two';
}

p {
    font-family: 'lora';
    
}

main { 
      text-align: center;

}

img { text-align: center;

}